.navegacion{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--clr-dark);
    margin-bottom: 1.3rem;
}

.mdarrowforward{
    position: relative;
    top: 4px;
    margin-left: 2px;
}